*{
    margin:0;
    padding: 0;
    text-align: center;
    background-color: #fff;
}
h1{
    text-align: center;
    background-color: #081b31;
    color: aliceblue;
    height:5rem;
    line-height: 5rem;
}

.choice{
    height: 200px;
    width: 200px;
    text-align: center;
    display:flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease
}
.choice:hover{
    cursor: pointer;
    transform :scale(1.5)
}
img{
    height: 100px;
    width: 100px;
    /* border-radius: 50%; */
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5rem;
    margin-top:5rem;
    font-size: 2rem;
}

#user-score,#computer-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 4rem;
}
#msg{
    background-color: #081b31;
    color: #fff;
    margin-top: 4rem;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

@keyframes expand {
    0% {transform:scale(1);}
    100%{transform:scale(1.5);}
}